* {
  margin: 0;
  padding: 0;
  background-color: #000000;
}

button:focus {
  outline:0;
}

#content {
  text-align: center;
  margin: auto;
}

#title {
  margin: 20px;
  font-size: 72px;
  font-weight: 360px;
  color: #b591cc;
}

.row {
  margin: auto;
}

.box {
  height: 146px;
  width: 146px;
  font-weight: 360px;
  color: #b5ffd6;
  border: 2.2px solid #b591cc;
  border-radius: 5px;
}

.box:hover {
  color: #b591cc;
  border: 2.2px solid #b5ffd6;
}

#startButton {
  margin: 18px;
  height: 72px;
  width: 288px;
  font-size: 18px;
  font-weight: 360px;
  outline: none;
  color: #b5ffd6;
  border: 2.2px solid #b591cc;
  border-radius: 5px;
}

#startButton:hover {
  color: #b591cc;
  border: 2.2px solid #b5ffd6;
}

#startButton:active {
  color: #b5ffd6;
  border: 2.2px solid #b591cc;
}
